#profile-image {
    visibility: hidden;
    position: absolute;
}

.circle-box {
    display: flex;
    justify-content: center;
}

.circle {
    width: 150px;
    height: 150px;

    background: rgb(196, 196, 196);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.lt.cross {
    margin-left: 32%;
    width: 8%;
    margin-top: 32%;
    height: 8%;

    border-right: 2px black solid;
    border-bottom: 2px black solid;
}

.rt.cross {
    margin-right: 32%;
    width: 8%;
    margin-top: 32%;
    height: 8%;

    border-left: 2px black solid;
    border-bottom: 2px black solid;
}

.lb.cross {
    margin-left: 32%;
    width: 8%;
    margin-bottom: 32%;
    height: 8%;

    border-right: 2px black solid;
    border-top: 2px black solid;
}

.rb.cross {
    margin-right: 32%;
    width: 8%;
    margin-bottom: 32%;
    height: 8%;

    border-left: 2px black solid;
    border-top: 2px black solid;
}