.circle-box {
    display: flex;
    justify-content: center;
}

p {
    margin: 3px 0;
}

.circle {
    width: 150px;
    height: 150px;
    background: var(--profile-img-grey) center;
    background-size: cover;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:hover {
    opacity: 0.35;
}

.img-change {
    position: relative;
    background: rgba(0, 0, 0, 0.55);
    color: white;
    border: 1px white solid;

    width: 52px;
    height: 27px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    font-weight: 700;
}

.short-button {
    width: 102px;
    height: 46px;
    border-radius: 30px;

    font-size: 18px;
    font-weight: 400;

    margin-top: 40px;
}

#profile-image {
    visibility: hidden;
}

